// $bg-night-mode: #001900;
// $font-color-night: #DFFFDB;
// $blur: blur(10px);

$bg-night-mode: #ffffff;
$font-color-night: #001900;
$neon-effect: #165216;
$blur: blur(10px);

$bgGryffindor: linear-gradient(
    135deg,
    rgba(116, 0, 1, 1) 0%,
    rgba(211, 166, 37, 1) 25%,
    rgba(116, 0, 1, 1) 50%,
    rgba(211, 166, 37, 1) 75%,
    rgba(116, 0, 1, 1) 100%
);

$bgSlytherin: linear-gradient(
    135deg,
    rgba(26, 71, 42, 1) 0%,
    rgba(170, 170, 170, 1) 35%,
    rgba(26, 71, 42, 1) 50%,
    rgba(170, 170, 170, 1) 65%,
    rgba(26, 71, 42, 1) 100%
);

$bgRavenclaw: linear-gradient(
    135deg,
    rgba(34, 47, 91, 1) 0%,
    rgba(190, 190, 190, 1) 35%,
    rgba(34, 47, 91, 1) 50%,
    rgba(190, 190, 190, 1) 65%,
    rgba(34, 47, 91, 1) 100%
);

$bgHufflepuff: linear-gradient(
    135deg,
    rgba(240, 199, 94, 1) 0%,
    rgba(114, 98, 85, 1) 25%,
    rgba(240, 199, 94, 1) 50%,
    rgba(114, 98, 85, 1) 75%,
    rgba(240, 199, 94, 1) 100%
);

$shieldGryffindor: url('../../assets/shields-houses/gryffindor.png'); 
$shieldSlytherin: url('../../assets/shields-houses/slytherin.png'); 
$shieldRavenclaw: url('../../assets/shields-houses/ravenclaw.png'); 
$shieldHufflepuff: url('../../assets/shields-houses/hufflepuff.png'); 
